<div class="footer">
      <div class="container">
         <div class="col-md-12">
            <ul>
               <li class="contactus"><a href="javascript:void(0);">Contact Support</a></li>
               <li class="tos"><a href="javascript:void(0);">Terms of Service</a></li>
               <li class="privacypolicy"><a href="javascript:void(0);">Privacy Policy</a></li>
            </ul>
            <p>Copyright 2016, AlgoLift LLC</p>
         </div>
      </div>
   </div>