<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Algolift</title>
</head>
<body style="margin:0px; padding:0px; background-color:#f0f0f0;">
	<div style="width:100%; margin:0 auto">   
		<div style="background:#1e505d; height:40px;"> 
			<img src="{{url}}/images/inner-logo.png" alt="" style="display:block;padding-top:10px; margin-left:20px"/> 
		</div>   
		<div style="margin: 20px; background-color:#fff; border: solid 1px #98c1cb; padding:20px; font-family:arial; font-size:14px; text-align:left;">  
			<p>Hi {{name}},</p>
			<p>You (or someone pretending to be you) requested that your password be reset.</p>
			<p>If you didn’t make the request ignore this email, no changes have been made.</p>
			<p>If you did make the request, then <a href="{{url}}/forgot?token={{token}}" target="_blank">click here</a> to reset your password.</p>
		</div>
	</div>
</body>
</html>