<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Algolift</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/bootstrap.min.css"/>
<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
<link rel="stylesheet" href="css/style.css"/>
<link rel="stylesheet" href="css/open-sans.css" type="text/css" />
<link rel="stylesheet" href="css/font-awesome.min.css">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<div class="container-fluid">
   <div class="row">
      <div class="col-md-12"> 
         <!-- Fixed navbar -->
         <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                  <a class="navbar-brand algolift-logo" href="#"></a> </div>
               <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                     <li class="his_arpi"><a href="javascript:void(0);">Historical Source ARPI</a></li>
                     <li><a href="/historical_platform_arpi">Historical Platform ARPI</a></li>
                     <li class="dashboard_click dashboard_api_filter"><a href="javascript:void(0);">UA Dashboard</a></li>
                     <li class="active dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> {{loggedInUser.firstName}} <span class="fa fa-angle-down"></span></a>
                        <ul class="usersettings dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#" class="user setting userset">User Settings</a></li>
                            {{#equal loggedInUser.role "Team Member"}}{{else}}
                            <li><a href="#" class="manageacc">Manage Accounts</a></li>
                           {{/equal}}
                            <li><a href="#" class="logout">Logout</a></li>
                        </ul>
                     </li>
                  </ul>
               </div>
               <!--/.nav-collapse --> 
            </div>
         </nav>
      </div>
   </div>
   <div class="content-container">
      <h1>Privacy Policy</h1>
      <div class="content-section">
         <h2>Last Updated August 4th, 2016</h2>
         <div class="mb-20">
            <h3 class="mb-20">AlgoLIft, Inc. PRIVACY POLICY</h3>
            <p>AlgoLift, Inc. ("AlgoLift") respects the privacy of our visitors and customers. Your privacy is important to AlgoLift and this Privacy Policy provides information about the personal information that AlgoLift collects and the ways in which AlgoLift uses that personal information.</p>
         </div>
         <div class="mb-20">
            <h3>What personal information does AlgoLift collect?</h3>
            <p>Personal information is information that can be used to identify or contact a specific individual, such as a name, telephone number, address and email address. AlgoLift does not collect personal information when you visit our web sites unless you choose to provide such personal information. When you sign up to use AlgoLift's services or request information about AlgoLift's technology and services, subscribe to marketing or support materials and register to obtain access to product information, support or services, AlgoLift may ask you for personal information (such as name, address, email address, age, gender, etc.).</p>
         </div>
          <div class="mb-20">
            <h3>How does AlgoLift use personal information?</h3>
            <p>AlgoLift will use personal information to provide customers and visitors with information and services and to help us better understand your needs and interests. Specifically, AlgoLift uses your information to communicate with you and to develop and market products and services.</p>
         </div>
          <div class="mb-20">
            <h3>How do I refrain from providing personal information?</h3>
            <p>AlgoLift does not require that you provide us with personal information. The decision to provide personal information is voluntary. If you do not wish to provide the personal information requested, however, you may not be able to proceed with the activity or receive the benefit for which the personal information is being requested.</p>
              <p>In addition, you can opt out of receiving e-mail messages from us about products and services by phoning or faxing us with our opt out request by referring to our "<a class="contactus" href="javascript:void(0);">contact us</a>" pages for such contact information.</p>
         </div>
          
          <div class="mb-20">
            <h3>How does AlgoLift secure my personal information?</h3>
            <p>AlgoLift is committed to taking reasonable efforts to secure the personal information you choose to provide us. To protect the privacy of any personal information you may have provided, AlgoLift employs industry-standard controls including physical access controls and Internet firewalls.</p>
         </div>
          <div class="mb-20">
            <h3>Does AlgoLift use "cookies" on its web site?</h3>
            <p>AlgoLift does uses "cookies" on its web sites. Cookies are identifiers that can be sent from a web site via your browser to be placed on your computers hard drive. Thereafter when you visit a web site, a message is sent back to the web server by the browser accessing the web site. You may elect not to accept cookies by changing the designated settings on your web browser. However, not utilizing cookies may prevent you from using certain functions and features of web sites. The information collected from the use of cookies is used and analyzed to improve AlgoLift's web site.</p>
              <p>AlgoLift uses the information collected from the "cookies" to collect the pages visited, navigation patterns, etc. of a visitor. This information helps us learn things such as what product information is of most interest to our customers and what kinds of offers AlgoLift's customers prefer.</p>
         </div>
          <div class="mb-20">
            <h3>Do other web sites collect personal information when I visit the AlgoLift Web Sites?</h3>
            <p>The AlgoLift web sites may provide links to third-party web sites for your convenience and information. If you access those links, you will leave the AlgoLift web site. AlgoLift does not control those sites or their privacy practices, which may differ from AlgoLift's. AlgoLift does not endorse or make any representations about third party web sites. The personal data you choose to give to unrelated third parties is not covered by the AlgoLift Privacy Policy.</p>
         </div>
          <div class="mb-20">
            <h3>Contact Information</h3>
            <p>If you have any questions regarding the Privacy Statement or believe that the privacy of your personal information has not been respected, you may submit a complaint in writing to the attention of <a href="mailto:support@AlgoLift.com?Subject=Contact Information" class="mail">support@AlgoLift.com</a></p>
         </div>
          <div class="mb-20">
            <h3>Changes to this Statement</h3>
            <p>AlgoLift will review and may update this Privacy Policy periodically.</p>
         </div>
      </div>
   </div>
</div>
<footer>
   {{>footer}}
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="js/jquery.min.js"></script> 
<script src="js/jquery.cookie.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.validate.js"></script>
<script src="js/site.js"></script>
</body>
</html>